@model Restaurant.Models.Menu.CategoryMenu
@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="admin_container delete_container">
<h2>@Model.Name</h2>
    <span>Название</span>
    @Html.DisplayFor(model => model.Name)
    <span>Тип меню</span>
    @Html.DisplayFor(model => model.Type.Name)

    @using (Html.BeginForm("DeleteCategory", "AdminMenu", FormMethod.Post))
    {
        <button name="action" value="delete" asp-route-id="@Model.Id">Удалить</button>
        <button name="action" value="cancel" asp-route-typeId="@Model.TypeId">Отмена</button>
    }
    </div>